<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<div id="app">
    <button @click="getData()">{{message}}</button>
    <ul>
        <li>userId &nbsp&nbsp userName</li>
        <li v-for="user in userList" :key="user.userId">
            {{user.userId}} &nbsp&nbsp {{user.userName}}
        </li>
    </ul>

</div>
</body>
<!-- import Vue before Element -->
<script src="/static/js/vue.js"></script>
<script>
    let url = "http://localhost:8080/log/test"
    console.log(123)
    new Vue({
        el: '#app',
        data: {
            message: "helloha",
            userList: null
        },
        methods:{
            getData(){
                fetch(url).then(res=>{
                        return res.text()
                     }).then(res=>{
                         console.log(res)
                        this.userList = JSON.parse(res) ;

                     }).catch(err=>{
                       console.log(err)
                })
            }
        }
    })
</script>
</html>